
.ft-m{
    font-family: 'montserrat';
}
.ft-i{
    font-family: 'inter';
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
main {
    width: 98.5%;
    margin: 0 auto;

}


#section-main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


/* GO BaCK */
#section-retour{
    padding: 3em ;
 padding-inline: 0;
}

#section-retour article{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1em;
    gap: 0.9em;
    cursor: pointer;
}
#section-retour article  i svg{
    margin-bottom: -0.2em;
}
#section-retour article p{
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 8px;
}




/* columns */
#section-columns{
    /* padding: 0.5em 0 !important; */
    display: flex;
    flex-direction: row;
    gap: 4.5em;
    justify-content: space-between;
    /* background: red; */
}

#column1{
  width: 100%;
  /* background: green; */
}

.fs-1{
    font-size: 1.3em;
}


#title-head{
    display: flex;
    flex-direction: space-between;
    /* background: blue; */
}

#title-head picture{
    width: 100%;
}

#picture-text{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    /* background: green; */
}
#picture-text p:nth-child(1){
    font-family: 'inter';
    font-weight: 700;
    font-size: 1.8em;
}
#picture-text p:nth-child(2){
    font-size: 1.4em;
    font-family: 'inter';
}
#picture-text sub{
    color: #696969;
    margin-top: 0.4em;
}


/* fig title */
#figure-title{
    width: 50% !important;
}
#figure-title div{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5em;
}
#voir-plus{
   display: flex;
   flex-direction: row;
   gap: 1em;
   background: #F5F5F5;
   padding: 1em 1.5em;
   border-radius: 1em;
   font-weight: 700;
   font-family: 'inter';
   cursor: pointer;
   text-wrap:  nowrap;
}


/* figure located */
#figure-located{
    /* background: red; */
    display: none;
}

#figure-located p{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

.bold-x{
    font-weight: 800;
    font-family: 'inter';
}

#article-img1{
    margin-top: 3em;
}

#article-img1 picture div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
}

.slideImg{
    width: 49.5%;
    height: 28em;
    object-fit: cover;
    object-position: right;
}
.last{
    width: 49.5%;
    height: 28em;
    object-fit: cover;
    object-position: left;
}
#before-img{
    width: 12em;
    max-width: max-content;
    height: 12em;
    max-height: max-content;
    position: absolute;
    object-fit: contain;
    margin: -2.1em;
    margin-top: -2.8em;
}
#after-img{
    width: 12em;
    height: 12em;
    position: absolute;
    object-fit: contain;
    right: 0;
    margin: -2.1em;
    margin-top: -4.5em;

}
#mois{
    background: #fff;
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1.5em;
    padding: 1em 1.2em;
    border-radius: 1em;
    font-family: 'inter';
    font-weight: 700;
    display: flex;
    align-items: center;
}
#mois i{
    margin-bottom: -0.3em;
}

#figure-located2{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    /* background: blue; */
    padding-bottom: 2.2em;
    border-bottom: 1px solid #929292;
    margin-bottom: 2.3em;
    width: 100%;
    margin-top: 2.1em;
    font-family: 'inter';
}

#rate2{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#rate2 p:nth-child(1){
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 1.5em;
}
#rate2 i{
    color: #F9C66E;
    font-size: 1.8em !important;
}
#rate2 i:nth-child(4){
    color: #D9D9D9;
}
#rate2 i:last-child{
    color: #D9D9D9;
}
#partage-commentaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
#partage-commentaire i{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
}



#soinBefore::before{
    content: 'Visage';
}

#article-texte{
    margin-top: 0;
}

#article-texte picture{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#article-texte picture p:nth-child(1){
    font-family: 'inter';
    font-size: 1.4em;
}
#article-texte picture p:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    line-height: 1.3em;
}
#article-texte picture p:last-child{
    color: #EE7563;
    font-weight: 700;
}

#column2{
    /* background: green; */
  width: 50%;
}

/* DETAILS PROFILE */
#details-profile{
    font-family: 'inter';
    display: flex;
    flex-direction: column;
    gap: 2em;
  width: 100%;
  padding-bottom: 3.5em;
  border-bottom: 1px solid #696969;
}

#profile-star{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
#picture-image-star{
    display: flex;
    flex-direction: column;
}
#profile-img{
    /* background: red; */
    width: 4.8em;
    max-width: max-content;
    height: 4.8em;
    object-fit: contain;
}
#pro-img{
    /* background: red; */
    width: 2.3em;
    max-width: max-content;
    height: 2.3em;
    object-fit: contain;
    margin-top: -1.8em;
    margin-left: 1.3em;
}

#star-rate{
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 0.4em;
}

#picture-info-star{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
#picture-info-star p:nth-child(1){
    font-weight: 700;
    font-size: 1.4em;
    font-family: 'inter';
}
#picture-info-star p:nth-child(2){
   font-size: 0.9em;
}
#star-rate i{
    color: #F9C66E;
    font-size: 1.1em;
}
#star-rate i:last-child{
    color: #D9D9D9;
}

/* profikle detail */
#profile-details{
    display: flex;
    flex-direction: column;
    font-family: 'inter';
    gap: 2.5em;
}

#profile-details picture:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#profile-details picture:nth-child(1) p:last-child{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


#picture-profile-svg{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    margin-top: 0.4em;
}

#picture-profile-svg div{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

#picture-profile-svg div p{
    text-wrap: wrap;
    font-size: 0.7em;
    text-align: center;
    font-family: 'inter';
    font-weight: 700;
}

.btn-ctp-profile{
    background: #EE7563;
    color: #fff;
    border-radius: 1em;
    padding: 1.5em 2.5em;
    font-weight: 700;
    cursor: pointer;
    text-wrap: nowrap;
    width: 100%;
    font-size: 1em;
}

#details-produit-mobile{
    display: none;
}

#details-produit{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-family: 'inter';
    margin-top: 2.1em;
}
.title-produit p{
    font-family: 'inter';
    font-size: 1.4em;
    font-weight: 700;
}
#details-produit .picture-produit{
    background: #F5F5F5;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 1em;
}

#details-produit .picture-produit p:nth-child(1){
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 1.2em;
}
.bold{
    font-weight: 700;
}
#details-produit .link-voir-plus{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-family: 'montserrat';
    font-weight: 600;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #EE7563;
}
#details-produit .link-voir-plus svg{
    margin-bottom: -0.2em;
}
#maps {
    margin-top: 4.5em;
}
#maps picture{
    width: 100%;
    height: auto;
position: relative;
}

#maps picture img{
    width: 100%;
    height: 18em;
}
#maps picture svg{
    position: absolute;
    left: 8%;
    margin: 1.5em;
}


#title-section2{
    margin-top: 3.5em !important;
}

#title-section2 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title-section2 picture button{
  background: none;
  color: #EE7563;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  border: 2px solid #EE7563;
  padding: 1.1em 2em;
}

/* #btn-suggestion button{
    background: none;
    color: #EE7563;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    border: 2px solid #EE7563;
    padding: 1.1em 2.3em;
  } */

  /* PAGINNATION */
  
#paginnation {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    /* background: green; */
}

#paginnation article:nth-child(1) p {
    font-weight: 700;
    font-family: 'inter';
    font-size: 1.5em;
    text-align: center;
}

#paginnation article:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}

#paginnation article:nth-child(2) picture {
    z-index: 99999;
}

#picture-i-left{
    display: none;
}
#picture-i-right{
    display: none;
}

#paginnation article:nth-child(2) ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: max-content !important;
    padding-top: 0.9em;
}


#paginnation article:nth-child(2) ul li {
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 18em;
    height: 30em;
    /* background: blue; */
}

#paginnation article:nth-child(2) ul li:nth-child(5){
    display: none;
}
#paginnation article:nth-child(2) ul #last-details{
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 18em;
    height: 30em;
    /* background: blue; */

}

.profile-paginnation{
    /* background: blue; */
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
}
.profile-paginnation img{
    width: 2em !important;
    height: 2em !important;
    object-fit: contain;
}
.profile-paginnation p{
    font-weight: 400;
}



.profile-paginnation-details{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8em !important;
}

#text-pagination{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#delai-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#pro{
    height: max-content !important;
}


.profile-paginnation-details img {
    width: 100%;
    height: 17em;
    object-fit: cover;
    border-radius: 1.8em;
}

#heart {
    margin: 0.8em;
    position: absolute;
    right: 0;
}
#partage-paginnation {
    margin: 1em;
    position: absolute;
    background: #00000094;
    color: #fff;
    top: 12.5em;
    left: 17.7%;
    padding: 0.5em 1.1em;
    border-radius: 0.8em;
    font-family: 'inter';
}
#partage-paginnation span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-style: normal;
}
#partage-paginnation span i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-style: normal;
}


.profile-paginnation-details p {
    text-wrap: wrap;
    line-height: 1.3em;
}

.profile-paginnation-details p:nth-child(1) {
    font-weight: 700 !important;
    text-wrap: wrap;
    font-size: 1.1em !important;
    /* background: green; */
    width: 98%;
}

.profile-paginnation-details p:nth-child(3) {
    font-size: 1em;
}

.profile-paginnation-details p:nth-child(2) {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    align-items: center;
    color: #929292;
}

.spanDelai{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
    font-weight: 600;
}

#pro{
    width: 3.5em;
    max-width: max-content;
    max-height: max-content;
    height: 3.5em;
    object-fit: contain;
}

.profile-paginnation-details p:nth-child(5) svg {
    margin-top: -0.2em;
}
