@media only screen and (max-width: 430px) {


    /* 
   #div-form1  label:nth-child(1) {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100%;
    }

   #div-form1  label:nth-child(2) {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100%;
    } */

    #figure-located2{
        gap: 2em;
        flex-wrap: wrap !important;
    }
}

@media only screen and (max-width: 350px) {

  #div-form1 label:nth-child(1) {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100%;
    }

  #div-form1 label:nth-child(2) {
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100%;
    }
}

@media only screen and (max-width: 500px) {
   
    #svgMobile{
        width:80vw;
        height: auto;

      }
}
@media only screen and (max-width: 580px) {
   
    #svgMobile{
        left: -0.5em !important;
/* margin-top: -48em !important; */
scale: 0.9;

      }
}
@media only screen and (max-width: 706px) {
   
    #svgMobile{
        display: block !important;
        position: absolute;
        margin-left: 3em !important;
/* margin-top: -48em !important; */

      }
}
@media only screen and (max-width: 930px) {
    html {
        font-size: 0.8em;
    }
        #navTransformation {
        display: none;
    }

    #navTransformationMobile {
        display: block;
        box-shadow: 0px 2px 4px 0px #00000026 !important;
        padding: 1.5em 2.5em !important;
    }


    main {
        width: 95% !important;
        margin: 0 auto;
    }


    main section {
        width: 95.5% !important;
        margin: 0 auto;
    }



/* figure located */
#figure-located{
    display: block !important;
}
.i-geo{
    margin-left: 1.5em;
}
.heart svg{
    width: 3em;
    height: 3em;
}

#voir-plus{
    display: none !important;
}


/* columns */
#section-retour{
    margin-top: 1em;
    padding: 1.5em !important;
    padding-inline: 0 !important;
}
#section-columns{
    display: flex;
    flex-direction: column !important;
    gap: 1em !important;
}

#column2{
  width: 100% !important;
}
#details-profile{
  width: 100% !important;
  border-top: 1px solid #696969;
margin-top: 2em !important;
padding-top: 2em !important;
/* padding: 2em; */
/* background: red; */
}
#picture-info-star p:nth-child(2){
    font-size: 1em !important;
 }
#star-rate i{
    color: #F9C66E;
    font-size: 1.2em !important;
}

          #title-head{
            display: flex;
            flex-direction: column;
            gap: 0.5em !important;
            background:#fff;
        }

        #picture-text sub{
            color: #696969;
            margin-top: 0 !important;
            font-size: 1em;
        }


        #figure-title div{
            display: flex;
            flex-direction: row !important;
            align-items: center !important;
            justify-content: space-between;
            gap: 0 !important;
            min-width: 90vw !important;
            margin-top: 0.8em;

        }

        /* PROFILE STAR MOBILE */
        #profile-details{
            /* display: none !important; */
        }

        #details-profile{
  border-bottom: none !important;
            margin-top: 0;
            padding-bottom: 0 !important;
        }


    
    #picture-info-star p:nth-child(1){
        color: #EE7563;
    text-decoration: underline;
    text-underline-offset: 4px;
    }

    #rate2 p:nth-child(1){
        display: none !important;
    }
    #figure-located2 #rate2 i{
        font-size: 1.5em !important;
    }
  
    #partage-commentaire{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em !important;
        margin-top: 0.1em;

    }
    #partage-commentaire i{
        display: flex;
        flex-direction: row;
        align-items: center !important;
        gap: 0.4em;
        font-style: normal;
        font-weight: 600;
        font-size: 0.9em !important;
    }
    #partage-commentaire i svg{
        width: 1.7em !important;
        height: 1.7em !important;
    }

    /* img */
    #article-img1 picture div{
        border-radius: 1em !important;
       height: 25em;
       margin-top: -1.5em;
    }

    #mois{
        margin: 1em !important;
        padding: 0.7em 0.8em !important;
        border-radius: 0.6em !important;
    }

    #soinBefore::before{
        content: 'Soins visages' !important;
    }

    #article-texte picture{
        text-align: center;
        margin-bottom: 0;
        border-top: 1px solid #696969;
        margin-top: 3em;
        padding-top: 2em;
    }

    #article-texte picture p:last-child{
        display: none;
    }
    #details-produit{
        display: none !important;
    }
    #details-produit, #maps , #btn-suggestion{
    }

    #maps picture img{
        width: 100%;
        height: 23em !important;
    }

    #maps picture svg{
        position: absolute;
        left: 10% !important;
        margin: 2em !important;
    }
    #btn-suggestion{
        display: none;
    }

    
    #details-produit-mobile{
        display: block !important;
    }  
#details-produit-mobile div{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-family: 'inter';
    margin-top: 2em;
}
.title-produit p{
    font-family: 'inter';
    font-size: 1.4em;
}
/* #details-produit-mobile{
    background: red;
} */
#details-produit-mobile div .picture-produit{
    background: #F5F5F5;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 1em;

}

#details-produit-mobile div .picture-produit p:nth-child(1){
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 1.1em;
    font-weight: 400;
}
.bold{
    font-weight: 700;
}
#details-produit-mobile div .picture-produit p:last-child{
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-family: 'montserrat';
    font-weight: 600;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #EE7563;
}

#details-produit .link-voir-plus{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-family: 'montserrat';
    font-weight: 600;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #EE7563;
}
#details-produit-mobile .link-voir-plus svg{
    margin-bottom: -0.2em;
}


#title-section2 div{
    justify-content: center !important;
}

.none{
    display: none !important;
}


#paginnation article:nth-child(2) ul li:nth-child(5){
    display: block !important;
}


#paginnation article:nth-child(2) ul{
    justify-content: space-between !important;
    position:  relative !important;
    min-width: auto !important;
}

#paginnation article:nth-child(2) ul li {
    
    /* background: blue; */
}

.profile-paginnation-details img {
    height: 18em !important;
}

/* IMG AU CAS OU */
/* #paginnation article:nth-child(2) ul{
    justify-content: space-between !important;
    position:  relative !important;
    min-width: 80vw !important;
    background: red;
}


.img-pag1 {
    height: 23em !important;
    min-width: 80vw !important;

} */

#picture-i-left{
    display: block !important;
    position: absolute;
    left: 0;
    margin-left: -2.5em;
    margin-top: 2.5em;
}
#picture-i-right{
    display: block !important;
    position: absolute;
    right: 0;
    margin-right: -2.5em;
    margin-top: 2.5em;

}
#paginnation{
    margin-bottom: 2em;
    border-top: 1px solid #696969;
    padding-top: 0 !important;
}


#paginnation #title-section2{
    margin-top: 2em !important;
}
#paginnation article:nth-child(2) .bi-arrow-left {
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #EE7563;
    margin-top: -4.2em;
    scale: 0.7;
}
#paginnation article:nth-child(2) .bi-arrow-right {
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: #EE7563;
    margin-top: -4.2em;
    scale: 0.7;

}

#partage-paginnation{
    margin-top: 1.4em !important;}
   
}